<div class="container p-4 mx-auto">
    <div class="row align-items-start">
        <div class="col">
            <h5 class="text-center">¡Bienvenido <i class="bi bi-emoji-laughing"></i>!</h5>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                    
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn verdebtn text-light">Entrar</button>
            </form>
        </div>
        @*Registrarse*@
        <div class="col">
            <h5 class="text-center">¿No tienes cuenta <i class="bi bi-emoji-smile-upside-down-fill"></i>?</h5>
            <h1 class="text-center">Registrate</h1>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                    
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Foto de Perfil</label>
                    <input type="file" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Biografía</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn verdebtn text-light">Registrarse</button>
            </form>
        </div>
    </div>
</div>