@{
    ViewData["Title"] = "Recursos-InfoJobs";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 d-none d-md-block" id="aside">
            <div class="aside-content">
                <!--noticias-->
                <h1>Noticias</h1>
                <div class="card" style="width: 18rem;">
                    <p class="text-center">
                        <img src="~/img/noticia1.png" class="img-fluid margen" width="200px" height="200px">
                    </p>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Aplicaciones para actualizar nuestro curriculum vitae
                        </h5>
                        <a href="https://www.eitb.eus/es/radio/radio-euskadi/programas/boulevard/audios/detalle/9212758/aplicaciones-para-actualizar-nuestro-curriculum-vitae/"
                           target="_blank" class="btn btn-primary text-center">Noticia</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <p class="text-center">
                        <img src="~/img/noticia2.png" class="img-fluid margen" width="200px" height="200px">
                    </p>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Currículum muy creativos que te ayudarán a encontrar trabajo de forma
                            rápida
                        </h5>
                        <a href="https://www.aprendemas.com/mx/blog/empleo/curriculum-muy-creativos-que-te-ayudaran-a-encontrar-trabajo-de-forma-rapida-104877"
                           target="_blank" class="btn btn-primary text-center">Noticia</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <p class="text-center">
                        <img src="~/img/noticia3.png" class="img-fluid margen" width="200px" height="200px">
                    </p>
                    <div class="card-body">
                        <h5 class="card-title">Curriculum Vitae</h5>
                        <a href="https://www.noticiasdenavarra.com/opinion/tribunas/2023/05/24/curriculum-vitae-6841206.html"
                           target="_blank" class="btn btn-primary">Noticia</a>
                    </div>
                </div>
                <hr class="color-hr">
                <!--consejos-->
                <h1>Consejos</h1>
                <div class="card" style="width: 18rem;">
                    <p class="text-center">
                        <img src="~/img/alison.jpg" class="img-fluid margen" width="200px"
                             height="200px">
                    </p>
                    <div class="card-body">
                        <h5 class="card-title">Alison Doyle</h5>
                        <p class="card-text">
                            Sé claro y conciso: "No intentes incluir toda tu historia laboral en tu currículum.
                            Mantén la información relevante y concéntrate en resaltar tus logros más importantes"
                        </p>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <p class="text-center">
                        <img src="~/img/muse.png" class="img-fluid margen" width="200px"
                             height="200px">
                    </p>
                    <div class="card-body">
                        <h5 class="card-title">The Muse</h5>
                        <p class="card-text">
                            Destaca tus logros: "En lugar de simplemente enumerar tus responsabilidades
                            laborales, destaca tus logros y resultados cuantificables. Los empleadores quieren ver
                            cómo has
                            contribuido y marcado la diferencia en tus roles anteriores"
                        </p>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <p class="text-center">
                        <img src="~/img/binsider.png" class="img-fluid margen" width="200px" height="200px">
                    </p>
                    <div class="card-body">
                        <h5 class="card-title">Business Insider</h5>
                        <p class="card-text">
                            Utiliza un formato limpio y legible: "Elige un diseño de currículum simple y limpio
                            que sea fácil de leer. Utiliza fuentes legibles y estructura la información de manera
                            ordenada y lógica"
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-1">
            <div class="linea"></div>
        </div>
        <div class="col-md-8">
            <!--articulos-->
            <h1>Articulos</h1>
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/queescurri.png" class="d-block w-100">

                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="letra">
                                ¿Qué
                                significa el currículum?
                            </h5>

                            <p>
                                <a href="https://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S1665-109X2010000100009"
                                   target="_blank" class="color">Artículo</a>
                            </p>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <img src="~/img/perspe.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="letra">El curriculo: Perspectivas para acercarnos a su comprensión</h5>
                            <p>
                                <a href="https://www.redalyc.org/pdf/853/85352029009.pdf" target="_blank"
                                   class="color">Artículo</a>
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/llamamos.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="letra">¿A que llamamos curriculum?</h5>
                            <p>
                                <a href="https://www.uv.mx/dgdaie/files/2012/11/CPP-DC-Angulo-Rasco-A-que-llamamos-curriculum.pdf"
                                   target="_blank" class="color">Artículo</a>
                            </p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <!--videos-->
            <h1>Videos</h1>
            <div id="carouselExampleCaptions2" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <iframe width="855" height="641" src="https://www.youtube.com/embed/qSBDX0FgUjQ"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                        <iframe width="855" height="641" src="https://www.youtube.com/embed/4CWJlmtE6Qk"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                        <iframe width="855" height="641" src="https://www.youtube.com/embed/jMwxfUhb0gA"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <div class="trabajo">
                <div>
                    <h1>Lista de trabajos</h1>
                </div>
                <div>
                    <form class="form-inline my-2 my-lg-0 trabajo mx-4 my-4">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
            @foreach (var oferta in (IEnumerable<dynamic>)ViewData["listadoDeOfer"])
            {
                <div class="card">
                    <div class="card-body trabajo">
                        <div>
                            <img src="/img/apple.jpg" class="img-fluid" width="100px" height="100px">
                            <p class="text-center">Apple</p>
                        </div>
                        <div class="mx-4">
                            <h3>@oferta.titulo</h3>
                            <p>
                                @oferta.ubicacion
                            </p>
                            <h5>Requisitos</h5>
                            <p>@oferta.requisitos</p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            }
            
